#templateArea {
	width: 285px;
	height: 400px;
	margin: 0 auto;
	margin-top: 25px;
}

#templateImage,
#templateImageBack {
	position: relative;
	z-index: 1;
}

.myGiphyImg {
	position: absolute;
	top: 0;
	left: 15px;
	z-index: -1;
}

.templateElements {
	position: absolute;
	z-index: 2;
}

#CollegeFrontName {
	top: 7%;
	left: 100px;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#SimpleFrontName {
	top: 10%;
	left: 125px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

#FutureFrontName {
	bottom: 5%;
	left: 83px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	width: 150px;
	margin: 0 auto;
}

#CollegeBackName {
	top: 7%;
	left: 100px;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#CollegeBackBio {
	top: 33%;
	left: 32px;
	width: 250px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	margin: 0 auto;
	line-height: 180%;

}

#CollegeBackImage {
	top: 2%;
	left: 22px;
	width: 70px;
}

#SimpleBackName {
	top: 58%;
	left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: bolder;
	width: 255px;
	text-align: center;
	margin: 0 auto;
}

#SimpleBackBio {
	top: 69%;
	left: 30px;
	width: 255px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	margin: 0 auto;
}

#SimpleBackImage {
	top: 6%;
	left: 36px;
	width: 118px;
}

#FutureBackName {
	top: 54.4%;
	left: 83px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	width: 150px;
	margin: 0 auto;
}

#FutureBackBio {
	top: 71.5%;
	left: 25px;
	width: 260px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	z-index: 3;
}

#FutureBackImage {
	top: 11.5%;
	left: 99px;
	width: 116px;
}
