#templateArea {
	width: 285px;
	height: 400px;
	margin: 0 auto;
	margin-top: 25px;
}

#templateImage {
	position: relative;
	z-index: 1;
}

.myGiphyImg {
	position: absolute;
	top: 0;
	left: 4.75%;
	z-index: -1;
}

.templateElements {
	position: absolute;
	z-index: 2;
}

#CollegeFrontName {
	top: 7%;
	left: 31%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#SimpleFrontName {
	top: 10%;
	left: 43%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

#FutureFrontName {
	bottom: 5%;
	left: 25.5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	max-width: 50%;
}

#CollegeBackName {
	top: 7%;
	left: 31%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#CollegeBackBio {
	top: 33%;
	left: 10%;
	width: 80%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#CollegeBackImage {
	top: 2%;
	left: 7.5%;
}

#SimpleBackName {
	top: 58%;
	left: 10%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: bolder;
	width: 81%;
	text-align: center;
}

#SimpleBackBio {
	top: 69%;
	left: 10%;
	width: 81%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

#SimpleBackImage {
	top: 6%;
	left: 12%;
}

#FutureBackName {
	top: 55%;
	left: 25.5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bolder;
	text-align: center;
	max-width: 50%;
}

#FutureBackBio {
	bottom: 11%;
	left: 15%;
	width: 70%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	z-index: 3;
}

#FutureBackImage {
	top: 11.5%;
	left: 31.5%;
}
