#characterSearch {
    font-size: 24px;
    : 15px;
}

#storyDivider {
	border-top: 1px #999999 solid;
	margin-bottom: 5px;
}

.topic-item {
	margin: 20px;
}

.cardTh {
	margin-bottom: 25px;
}

.innerThDiv {
    margin: 0 auto;
}

.credits {
    line-height: 200%;
    color: #000000;
    font-size: 20px;
}

#footer {
    background-color: #dddddd;
}

.centerFooter {
    border-left: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
}

.techUsed {
    line-height: 200%;
    color: #000000;
    font-size: 14px;    
}

.giphyDiv {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 285px;
    height: 400px;
	margin: 0 auto;
}
